#our-story-content.content
  %br
  .intro.our-story
    Traditional Vietnamese Tea Ceremony
  = image_tag "branch_v3.png", class: "branch_v3"
  .story
    %p We will be having our tea ceremony at 10 AM starting at the Bride’s residence. The Bride’s family and immediate relatives will assemble at the Bride’s house to await the arrival of the bridegroom. The groom and his entourages will come in smartly dressed shirts and ties, and dark trousers, carrying gold canisters covered in gold cloth, containing traditional gifts and goods to come and receive the Bride at the Bride’s house.

    %p Upon arrival to the Bride’s house, each side of the family will meet, greet and introduce to each other. The wedding ceremony will begin in front of the altar, and the groom and bride exchange their wedding rings. After that, a formal tea and some speeches from both parents will follow. The groom’s parents will then ask the bride’s parents for a permission to receive the Bride and take her to the groom’s house.

    %p At the groom’s house, we will have a Vietnamese food potluck in couple hours before heading to the Venue for reception.

    %p Bride’s house:     319 Checkers Dr, APT 104, San Jose, CA 95133.

    %p Groom’s house:   130 Ferrari Ave, San Jose, CA 95110.

  %br
  %br
  %br
  .intro.our-story
    The Wedding Reception
  = image_tag "branch_v3.png", class: "branch_v3"
  %br
  %br
  %div Saturday, September 8th, 2018.
  %br
  %div 5:30PM
  %br
  %div Attire: Semi-formal
  %br
  %div Silver Creek Valley Country Club
  %br
  %div 5460 Country Club Pkwy, San Jose, CA 95138.
  .story
    %p The retro-royal Chaboya Lounge is a perfect setting for cocktails and after party. The elegance of the grand staircase and artful dimed skylight welcome guests.

    %p As you enter our amazing ballroom, floor to ceiling windows provide panoramic valley views for any standout celebration, big or small, with equal style.
  = image_tag "silver_creek.jpg"
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  .intro.our-story
    Getting there
  = image_tag "branch_v3.png", class: "branch_v3"
  %br
  %br
  %br
  %br
  #map
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAzJELXKTTMOEz_DPYNoVbtNtcMCbnCGh8&callback=initMap', :defer => "defer", :async => true

:javascript
  function initMap() {
    var uluru = {lat: -25.344, lng: 131.036};
    var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 10, center: uluru});
    var marker = new google.maps.Marker({position: uluru, map: map});
    var geocoder = new google.maps.Geocoder();

    var bride = '<div style="width:300px;">'+
    '<h1>Bride\’s</h1>'+
    '<div>'+
    '<p>319 Checkers Dr, APT 104, San Jose, CA 95133.</p>'+
    '</div>'+
    '</div>';

    var groom = '<div style="width:300px;">'+
    '<h1>Groom\'s</h1>'+
    '<div>'+
    '<p>130 Ferrari Ave, San Jose, CA 95110.</p>'+
    '</div>'+
    '</div>';

    var reception = '<div style="width:300px;">'+
    '<h1>Silver Creek Valley Country Club</h1>'+
    '<div>'+
    '<p>5460 Country Club Pkwy, San Jose, CA 95138.</p>'+
    '</div>'+
    '</div>';

    if (geocoder) {
        [
          ['319 Checkers Dr, APT 104, San Jose, CA 95133', bride, 'Bride\'s'], 
          ['130 Ferrari Ave, San Jose, CA 95110.', groom, 'Groom\'s'],
          ['5460 Country Club Pkwy, San Jose, CA 95138.', reception, 'Reception']].forEach(function(address){
            console.log(address[0]);
            geocoder.geocode( {'address': address[0]}, function(results, status) {
              map.setCenter(results[0].geometry.location);

              var infowindow = new google.maps.InfoWindow(
                  { content: '<b>' + address[1] + '</b>',
                    size: new google.maps.Size(150,50)
                  });

              var marker = new google.maps.Marker({
                  position: results[0].geometry.location,
                  map: map, 
                  title: address[2]
              }); 
              google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map,marker);
              });
            });
        });
      }
  }