!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dong &amp; Liem's wedding
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if controller_name == "home"
      = render "layouts/header"
    - else
      = render "layouts/header_v2"
    #menu
      = render "layouts/menu"
    #content
      - unless controller_name == "home"
        .divider
      = yield
      - unless controller_name == "home"
        .divider
